@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  font-family: "Kode Mono", monospace;
  box-sizing: border-box;
}

body {
  background-image: url("/background.jpg");
  background-color: #0046a5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0;
}

header,
footer,
.container {
  margin: 0;
  padding: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
