@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  font-family: "Kode Mono", monospace;
}

body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header,
footer,
.container {
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  :root {
    padding: 1rem;
  }
}

@media (min-width: 641px) {
  :root {
    padding: 2rem;
  }
}
